<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="#">
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Phish-API!</h2>
      <br>
      <p>Click <a href="https://github.com/Harishwarrior/phish_defender_backend">here</a> to go to source code and documentation.</p>
    </div>
  </body>
</html>
